/* implementing style in whole document */
*{
    margin: 0;
    padding: 0;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
}
/* styling main-box */
.main_box{
    background-image: url("image.jpeg");
    height: 100vh; /* gives 100% of viewport height*/
    background-size:cover;
}
/* styling side-bar menu */
.sidebar_menu{
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 0 6px rgba(255,255,255,0.5);
    transition: all 0.3s linear;
}
/* styling buttons */
.btn_one i{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.sidebar_menu .logo {
    position: absolute;
    width: 100%;
    line-height: 60px;
    height: 60px;
    box-shadow: 0 2px 4px rgba(255,255,255,0.5);
}
.sidebar_menu .logo a{
    position:absolute;
    left: 50px;
    color: white;
    font-size:20px ;
    text-decoration: none;
    font-weight: 500;
}
.sidebar_menu .btn_two i{
    color:grey;
    position: absolute;
    font-size: 25px;
    line-height: 60px;
    left: 275px;
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s linear;
}
.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top: 80px;
    color: white;
}
.sidebar_menu .menu li{
    margin-top: 6px;
    padding:14px 20px;
}
.sidebar_menu .menu i,a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.sidebar_menu .menu i{
    padding-right: 8px;
}
/* styling social media */
.sidebar_menu .social_media{
    position: absolute;
    left: 25%;
    bottom: 50px;
}
.sidebar_menu .social_media i{
    color: white;
    opacity: 0.5;
    padding: 0px 5px;
}
/* adding hover effects */
#check{
    display: none;
}
.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgba(255,255,255,0.5);
}
.btn_one i:hover{
    font-size: 40px;
}
.btn_two i:hover{
    font-size: 30px;
}
.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.1);
}
#check:checked ~ .sidebar_menu{
    left: 0;
}
#check:checked ~ .btn_one i{
    opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two i{
    opacity: 1;
}
/* heading */
.heading h1{
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 60px;
  color: white;
  margin: 0% 30% 0% 30%;
  padding: 28px 40px 40px 40px;
  transition: all 0.3s linear;
}
 .heading h1:hover{
    cursor: pointer;
    text-decoration: white 2px underline;
    text-shadow: rgb(255, 183, 0) 10px 0 15px;
    font-size:62px ;
}
.now i{
    padding: 10px;
}
.now{
color:white;
position: absolute;
left: 48%;
bottom: 48px;
border: 0.0001rem solid;
display: flex;
flex-direction: row;
line-height: 50px;
padding: 5px 20px;
transition: all 0.3s linear;
opacity: 0.5;
}
.now:hover{
    border-color: grey;
    cursor: pointer;
    text-decoration: white 2px underline;
    opacity: 1;
    text-shadow: grey 10px 0 15px;
    border: 0.001rem solid;
    font-size: 18px;
}