/* implementing style in whole document */
*{
    margin: 0;
    padding: 0;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
}
/* styling main-box */
.main_box{
    background-image: url("image.jpeg");
    height: 100vh; /* gives 100% of viewport height*/
    background-size:cover;
}
/* styling side-bar menu */
.sidebar_menu{
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 0 6px rgba(255,255,255,0.5);
    transition: all 0.3s linear;
}
